/* CSS Variables */

:root {
  --primary-color: #5fcb71;
  --secondary-color: #fafafa;
  --dark-color: #333;
  --light-color: #fff;
  --width: 1140px;
}

/* Base Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7;
  color: var(--dark-color);
  background-color: var(--light-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin-bottom: 15px;
}

p {
  margin: 10px 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  max-width: 100%;
}
