/* CSS Variables */

:root {
  --primary-color: #5fcb71;
  --secondary-color: #fafafa;
  --dark-color: #333;
  --light-color: #fff;
  --width: 1140px;
}

/* Base Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7;
  color: var(--dark-color);
  background-color: var(--light-color);

  display: grid;
  grid-template-columns: 20% auto;
  gap: 20px;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin-bottom: 15px;
}

p {
  margin: 10px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  max-width: 100%;
}

.btn {
  padding: 5px 10px;
  text-decoration: none;
  color: var(--light-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
}

/* Aside */

aside {
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 280px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  gap: 30px;
  color: var(--light-color);
}

.info p {
  font-size: 14px;
  font-weight: 100;
}

.aside-link {
  display: block;
  color: var(--light-color);
}

.socials i {
  background-color: var(--light-color);
  color: var(--primary-color);
  padding: 10px;
  border-radius: 50%;
  margin-bottom: 30px;
}

hr {
  border: 0;
  border-top: var(--light-color) solid;
  opacity: 0.2;
  margin: 1rem 0;
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.nav-list li a {
  color: var(--light-color);
  text-decoration: none;
}

.nav-list li {
  margin-bottom: 15px;
}

.nav-list li i {
  margin-right: 10px;
  font-size: 1rem;
}

.current {
  color: var(--dark-color);
}

.btn-aside {
  background-color: green;
  padding: 10px 20px;
}

/* Main */

main {
  position: absolute;
  top: 0;
  left: 280px;
  padding: 30px;
}
